<template>
	<div class="about">
		<ul class="carUl">
			<div class="line"></div>
			<li class="carList" v-for="(item) in Car" :key="item._id">
				<div class="carinp"><input type="checkbox" :checked='item.checked'></div>
				<div class="carDetails">
					<div class="list-touxiang">
						<img :src="item.productId.image" alt="">
					</div>
					<div>
						<div>{{item.productId.name}}</div>
						<div>尺码：M</div>
						<div>￥{{item.price}}</div>
					</div>
					<div>
						<div @click="jian">-</div>
						<span class="carPrice">{{item.quantity}}</span>
						<div @click="jian">+</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="foot">
			<div class="carjian">
				<div>共计： 7件</div>
				<div>
					<span>合计：</span>
					<span>￥{{zongjiuan}}</span>元
				</div>
			</div>
			<div class="zhifu">支付</div>
		</div>
	</div>
</template>
<script>
	import {
		mapState
	} from "vuex";
	export default {
		data() {
			return {

			}
		},
		mounted() {

		},
		methods: {
            jian() {
				// this.$store.state.item.quantity
				alert(1)
			}
		},
		computed: {
			...mapState(['Car', 'zongjiuan'])
		},
		created() {
			this.$store.dispatch('getCarList');
		}
	}
</script>

<style scoped>
	.carUl {
		width: 100%;
		background-color: #f7f7fa;
	}

	.line {
		width: 100%;
		height: .01rem;
	}

	.carNav {
		text-align: center;
		display: flex;
		justify-content: space-between;
		font-size: .17rem;
		margin: 20px 0;
		background-color: white;
	}

	.carList {
		width: 100%;
		display: flex;
		height: .98rem;
		align-items: center;
		margin-top: .24rem;
		/* background-color: aqua; */
	}

	.carinp {
		margin: 0 .18rem;
	}

	.carDetails {
		width: 2.95rem;
		display: flex;
		align-items: center;
	}

    .carDetails>div:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.carDetails>div:nth-child(2) {
		width: 2.1rem;
		margin-left: .2rem;
	}

	.carDetails>div:nth-child(2)>div:nth-child(2) {
		margin: .1rem 0 .1rem;
	}

	.carDetails>div:nth-child(3) {
		display: flex;
		margin-top: .57rem;
        justify-content: center;
		align-items: center;
	}

	.carDetails>div:nth-child(3)>div:nth-child(1),
	.carDetails>div:nth-child(3)>div:nth-child(3) {
		width: .16rem;
		height: .16rem;
		background: rgba(255, 223, 117, 1);
		text-align: center;
		line-height: .16rem;
	}

	.list-touxiang {
		width: .84rem;
		height: .84rem;
	}

	.list-touxiang>img {
		border-radius: .20rem;
	}

	.carPrice {
		margin: 0 .08rem;
	}

	.foot {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		background-color: white;
		height: 1.38rem;
	}

	.carjian {
		margin-top: .26rem;
		display: flex;
		justify-content: space-around;

	}


	.zhifu {
		width: 3.35rem;
		line-height: .58rem;
		text-align: center;
		background: rgba(255, 223, 117, 1);
		margin: .18rem auto;
		border-radius: 20px;
	}
</style>
