<template>
  <div class="home">
    <List>
      <!-- <button>确定</button> -->
    </List>
    <p @tan="pink">火爆商品</p>
    <div class="content">
      <div class="da">
        <div class="tu" v-for="items in toplists" :key="items._id">
          <img :src="items.image" alt="" />
          <div>
            <p>{{ items.name }}</p>
            <p>¥{{ items.price }}</p>
          </div>
        </div>
      </div>
      <div class="nav">
        <div :class="Ncalor == 'all' ? 'all1' : ''" @click="huoqu('all')">
          全部
        </div>
        <div :class="Ncalor == 'style' ? 'all' : ''" @click="huoqu('style')">
          款式新
        </div>
        <div :class="Ncalor == 'sell' ? 'all' : ''" @click="huoqu('sell')">
          销量高
        </div>
        <div :class="Ncalor == 'rate' ? 'all' : ''" @click="huoqu('rate')">
          好评多
        </div>
      </div>
    </div>
    <ul class="shopList">
      <li v-for="item in lists" :key="item._id">
        <div class="list-touxiang">
          <img :src="item.image" alt="" />
        </div>
        <div class="listText">
          <div>{{ item.name }}</div>
          <div>￥{{ item.price }}</div>
        </div>
        <div class="i-car">
          <img src="../assets/img/1.png" alt="" />
          <!-- <router-link to='/about'></router-link> -->
        </div>
      </li>
    </ul>
  </div>
</template>
<script>
import axios from 'axios'
import List from '../components/List.vue'
export default {
  components: { 
    List 
  },
  data() {
    return {
      lists: [],
      toplists: [],
      Ncalor: 'all',
    }
  },
  methods: {
    pink(){
      alert({
  title: '标题',
  message: '弹窗内容',
}).then(() => {
  // on close
});
    },
    getGoodsLists() {
      fetch('https://dahua0822-api.herokuapp.com/goods')
        .then((res) => res.json())
        .then((data) => {
          this.toplists = data.data.top
          this.lists = data.data.data
        })
    },
    huoqu(aa) {
      axios
        .get('https://dahua0822-api.herokuapp.com/goods', {
          params: {
            sort: aa,
          },
        })
        .then((res) => {
          this.lists = res.data.data.data
          this.Ncalor = aa
        })
    },
  },
  created() {
    this.getGoodsLists()
  },
}
</script>

<style scoped>
* {
  margin: 0;
  padding: 0;
}
body {
  background: rgba(247, 247, 250, 1);
}
ul,
li {
  list-style: none;
}
.home {
  width: 100%;
  background: rgba(247, 247, 250, 1);
}
.home > p {
  font-size: 0.14rem;
  font-weight: 700;
  margin: 0 0 0.22rem 0.24rem;
}
.content {
  width: 3.75rem;
}
.content > .da {
  white-space: nowrap;
  overflow-x: auto;
}
.content > .da::-webkit-scrollbar {
  display: none;
}
.content > div > .tu {
  width: 1.68rem;
  height: 2.22rem;
  border-radius: 0.28rem;
  margin: 0 0 0.32rem 0.26rem;
  display: inline-block;
  background: #fff;
}
.content > div > .tu > img {
  width: 1.68rem;
  height: 1.46rem;
  background: rgba(218, 216, 219, 1);
  border-top-left-radius: 0.28rem;
  border-top-right-radius: 0.28rem;
}
.content > div > .tu > div {
  width: 1.68rem;
  height: 0.76rem;
  background: #fff;
  border-bottom-left-radius: 0.28rem;
  border-bottom-right-radius: 0.28rem;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content > div > .tu > div > p {
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content > div > .tu > div > p:nth-child(1) {
  left: 0.18rem;
  bottom: 0.5rem;
  font-size: 0.12rem;
  font-weight: 700;
}
.content > div > .tu > div > p:nth-child(2) {
  left: 0.18rem;
  bottom: 0.17rem;
  font-size: 0.16rem;
  font-weight: 700;
}
.nav {
  margin-left: 0.06rem;
  white-space: nowrap;
  overflow-x: auto;
}

.nav::-webkit-scrollbar {
  display: none;
}
.nav div {
  width: 0.99rem;
  height: 0.44rem;
  background: #fff;
  margin-left: 0.2rem;
  border-radius: 0.14rem;
  text-align: center;
  line-height: 0.44rem;
  font-size: 0.14rem;
  display: inline-block;
  font-weight: 700;
}
.content .nav .all {
  width: 0.44rem;
  height: 0.44rem;
  padding: 0 0.08rem;
  background: rgba(255, 223, 117, 1);
}
.content .nav .all1 {
  width: 0.44rem;
  height: 0.44rem;
  /* padding: 0 0.08rem; */
  background: rgba(255, 223, 117, 1);
}
.shopList {
  width: 100%;
  margin: 0.07rem 0 0 0;
  background-color: #f7f7fa;
}
.shopList > li {
  width: calc(100% - 0.48rem);
  height: 0.68rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0.26rem;
}

.list-touxiang {
  width: 0.68rem;
  height: 0.68rem;
  border-radius: 0.2rem;
}
.list-touxiang > img {
  border-radius: 20px;
}
.listText {
  width: 1.9rem;
  margin-left: 0.4rem;
}
.listText > div:nth-child(1) {
  font-size: 0.12rem;
  font-weight: 700;
}
.listText > div:nth-child(2) {
  font-size: 0.16rem;
  font-weight: 700;
  margin-top: 0.1rem;
}
.i-car {
  width: 0.48rem;
  height: 0.48rem;
  background: url('../assets/img/2.png') no-repeat 50% 50%;
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.i-car img {
  width: 0.18rem;
  height: 0.18rem;
}
</style>
