<template>
  <div>
    <el-dialog title="提示" :visible.sync="dialogVisible">
      <span>这是一段信息</span>
      <span slot="footer" class="dialog-footer">
        <!-- <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false" >确 定</el-button> -->
      </span>
    </el-dialog>
    <!-- <el-input v-model="input" placeholder="请输入内容"></el-input> -->
  </div>
</template>
<script>
export default {
  // props: Array,
  name: '',
//   components: { List },
  data() {
    return {
dialogVisible:false,
	}
  },
  created() {},
  mounted() {},
  methods: {},
}
</script>

<style scoped>
.listNav {
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 0.17rem;
  margin: 20px 0;
  background-color: white;
}
</style>
