<template>
  <div id="app">
<!--    <div id="nav">
    </div> -->
    <router-view></router-view>
  </div>
</template>
<script>

</script>
<style lang="scss">
	*{
		margin: 0;
		padding: 0;
	}
	html,body{font-family:Inter; font-size: 16px; text-align: left;}
	ul,ol{list-style: none;}
	img{border: 0;width: 100%;}
	input,select,textarea{outline:0;}
	textarea{resize:none;}
	table{border-collapse: collapse; border-spacing: 0;}
	th,strong,var,em{font-weight: normal; font-style: normal;}
	a{text-decoration: none;color: #000;}
body{
	font-size: 16px;
	// font-weight: 600;
}
img{
	width: 100%;
}
// https://js.design/f/0mmPE8?p=zXY3zFyNrm&mode=programmer
</style>
